﻿<%@ Page Language="C#" AutoEventWireup="true"  CodeFile="Reciente.aspx.cs" Inherits="Reciente" %>


<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
  <title>PRI</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link href="vendor/materialize/css/materialize.min.css" rel="stylesheet" />
    <link href="css/estilo.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="vendor/modernizr/modernizr.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>

    <!-- jQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
    <style>
        .container { padding: 0;}
        .row { margin-bottom: 0px;  margin-left:0!important; margin-right: 0 !important;margin-bottom: -6px;}
 
        .row img { width:100%; }

    </style>
    <div class="container">
        <div class="row">

            <img src="img/Header.jpg" title="menu" />

        </div>
  <%--      <div class="row">
            <img src="img/Menu.jpg" title="menu" />
        </div>--%>
            <div class="row">
            <img src="img/RECIENTE.jpg" title="menu" />
        </div>
  

    </div>

</body>
</html>




